html {
 font-size: 16px;
 background-color: rgb(150,100,200);
}

header {
 display: flex;
 width: 100%;
 height: auto;
 align-items: center;
 text-align: center;
 font-size: 3rem;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 color: white;
 background-color: black;
}

nav {
 position: fixed;
 display: inline-flex;
 width: 200px;
 top: 150px;
 left: 0px;
 background-color: white;
 border: 3px solid black;
}

article {
 position: relative;
 display: flex;
 flex-direction: column;
 width: 90%;
 height: auto;
 top: 0px;
 left: 200px;
}

article #Car {
 width: 80%;
 height: auto;
 border: 3px solid black;
}

article #Quad {
 width: 80%;
 height: auto;
 border: 3px solid black;
}

article #Bike {
 width: 80%;
 height: auto;
 border: 3px solid black;
}

article h3 {
 font-family:'Times New Roman', Times, serif;
 color: darkblue;
}

article a {
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 1.1rem;
 transition: font-size 800ms linear 200ms, color 800ms linear 200ms;
}

article a:hover {
 font-size: 1.3rem;
 color: greenyellow;
}